.search-bar {
    height: 100px;
    width: 100%;
}

.search-bar-container {
    width: 100%;
    border: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    position: relative;
    max-height: 1000px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    margin: auto 0 80px;
}

.search {
    position: relative;
    border-radius: 8px;
    background-color: rgba(114, 66, 117, 0.5);
    margin-right: 16px;
    width: 70%;
    height: 60px;
    display: flex;
    align-items: center;
}

.search:hover, .search:focus-within {
    background-color: rgba(114, 66, 117, 0.7);
}

.searchIcon {
    width: 36px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whiteSearch {
    color: white;
}

.inputRoot {
    color: inherit;
    width: calc(100% - 36px - 150px);
    padding-left: 36px;
    height: 100%;
}

.inputInput {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 80px;
    width: 100%;
}

.inputDate, .inputDate-left {
    width: 150px;
    height: 48px;
}

.inputDate-left {
    margin-right: 8px;
}